<div class="hero-unit next-event event">
	<div class="date"><span class="weekday">Tuesday</span> <span class="day">13</span> <span class="month">Jan</span></div>
	<div class="details">
		<h1>Meetup</h1>
		<p>Join us this month for talks on integrating AngularJS with Rails, RubyFlux, and the new Reel server.</p>
	</div>
</div>

<div class="row">
	<div class="span12">
		<p>YEGRB's mission is to grow the Ruby community in Edmonton, Canada. Come out to our next meetup, or write some code together at our next hackup!</p>
	</div>
</div>
