<div class="hero-unit next-event event">
	<event-date time="nextEvent.starts_on"></event-date>
	<div class="details">
		<h1>{{ nextEvent.name }}</h1>
		<p class="venue"><a href="{{ nextEvent.venue_url }}" class="address">{{ nextEvent.venue_address }}</a></p>
		<p ng-bind-html-unsafe="nextEvent.description"></p>
		<p><a class="rsvp btn btn-primary" href="{{ nextEvent.rsvp_url }}">RSVP</a></p>
	</div>
</div>

<div class="row">
	<div class="span12">
		<p>YEGRB's mission is to grow the Ruby community in Edmonton, Canada. Come out to our next meetup, or write some code together at our next hackup!</p>
	</div>
</div>
