<div class="hero-unit next-event event">
	<event-date time="nextEvent.startsOn"></event-date>
	<div class="details">
		<h1>{{ nextEvent.name }}</h1>
		<p class="venue"><a href="{{ nextEvent.venueUrl }}" class="address">{{ nextEvent.venueAddress }}</a></p>
		<p>{{ nextEvent.description }}</p>
		<p><a class="rsvp btn btn-primary" href="{{ nextEvent.rsvpUrl }}">RSVP</a></p>
	</div>
</div>

<div class="row">
	<div class="span12">
		<p>YEGRB's mission is to grow the Ruby community in Edmonton, Canada. Come out to our next meetup, or write some code together at our next hackup!</p>
	</div>
</div>
